<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985017615734-8j1c03ff8c1kv65kbdo9482nskhu1q9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985017615734-8j1c03ff8c1kv65kbdo9482nskhu1q9v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>985017615734-brnhuhl6n6kflgsvfm1u3j7c0ae3id08.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0EGEOXcpTcbP739nIj_9JC6c4LZpgt6s</string>
	<key>GCM_SENDER_ID</key>
	<string>985017615734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.myshopping</string>
	<key>PROJECT_ID</key>
	<string>myshopping-39c67</string>
	<key>STORAGE_BUCKET</key>
	<string>myshopping-39c67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985017615734:ios:102231a8fe51fab6fbe657</string>
</dict>
</plist>